---
import { ViewTransitions } from 'astro:transitions';
import {siteInfo} from '../consts/site-info'
import NavBar from '@components/shared/NavBar.astro';


interface Props {
    title?:string;
	image?:string;
	description?:string;
}

const {title = siteInfo.title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-slate-800 text-slate-100 m-auto max-w-6xl p-3 md:p-0">
		<NavBar />
		<main>
			<slot />
		</main>
	</body>
</html>
